@model CarrinhoCompraViewModel

<div class="Container">
    <div class="row checkoutForm">
        <div class="d-flex align-items-center gap-4 px-0 py-2">
            <img src="~/img/cart.png" />
            <h4>Seu carrinho de compras: </h4>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Lanche.Nome</td>
                        <td class="text-right">@item.Lanche.Preco.ToString("c")</td>
                        <td class="text-right">
                            @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                        </td>
                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" 
                            asp-route-lancheId="@item.Lanche.LancheId">
                                <img src="~/img/delete.png" width="20px" height="20px" />
                            </a>
                        </td>
                    </tr>                  
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.CarrinhoCompraTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="d-flex gap-3 p-0">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Comprando</a>
        </div>
        <br />
    </div>
</div>
